@{
    ViewBag.Title = "Index";

}
<html>
<head>
    <title></title>
</head>
<body>


    @*


    <!--PARALLAX LIKE / STATS SECTION END  -->
    <section id="works">
        <div class="container">
            <div class="row text-center pad-bottom">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    <h2 class="head-set">OUR TEAM</h2>
                    <p>
                        Best players in the <strong>world</strong>
                    </p>
                </div>
            </div>
            <div class="row text-center portfolio-item">

                <div class="col-md-4 col-sm-4 ">
                    <div class="alert alert-info">
                        <img src="../../Images/e1.jpg" class="img-responsive" alt="" />

                        <h3>Watching WC Final 2014</h3>
                        <h5><a href="/Home/about"><strong>More</strong> </a></h5>

                    </div>

                </div>
                <div class="col-md-4 col-sm-4 ">
                    <div class="alert alert-danger">

                            <img src="../../Images/e2.jpg" class="img-responsive " alt="" />
                        <h3>Road to Rise</h3>
                        <h5><a href="/Home/about"><strong>More</strong> </a></h5>

                    </div>

                </div>
                <div class="col-md-4 col-sm-4 ">
                    <div class="alert alert-success">
                        <img src="../../Images/e3.jpg" class="img-responsive " alt="" />

                        <h3>Township Tournament</h3>
                        <h5><a href="/Home/about"><strong>More</strong> </a></h5>
                    </div>

                </div>

            </div>
        </div>
    </section>

*@
    <!-- // Login -->
    <div class="modal fade tiny" id="modal-pic" tabindex="-1" role="dialog" aria-hidden="true" style="display:none">
        <div class="modal-dialog layout-login">
            <div class="modal-content">
                <div class="modal-body">

                    <a href="#" class="btn btn-block btn-lg btn-success margin-bottom disabled">Stunners FC&nbsp;&nbsp;</a>
                    <div class='panel themenav-border boxshadow-darkblue'>
                        <div class='panel-encase'>
                            
                            
                             <hr class='transparent'>
                            <div class="buttonHolder">
                            </div>
                        </div>
                        <div class='panel-footer'>
                        </div>
                    </div>
                    <a data-dismiss="modal" class='white'>Close &times;</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- // modal-login -->
    <!-- CONTACT SECTION END-->
    <!-- CLIENTS SECTION END-->

</body>

</html>